<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Spring Boot Microservices - Welcome!</title>
</head>
<body class="container">
<h1>Spring Boot Microservices - Demo Application</h1>
<div class="alert alert-primary" role="alert">
    <b>Your personalized message:</b>
    <span th:text="${customMessage}">Greetings</span>
</div>

<form id="newMessage" th:action="@{/}" method="post" th:object="${newMessage}"></form>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Language</th>
        <th>Content</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr class="form-group">
        <td><input form="newMessage" class="form-control" type="text" th:field="${newMessage.language}" autofocus/></td>
        <td><input form="newMessage" class="form-control" type="text" th:field="${newMessage.content}"/></td>
        <td><button form="newMessage" class="btn btn-primary" type="submit">Add</button></td>
    </tr>
    <tr th:each="message : ${messages}">
        <td th:text="${message.language}"></td>
        <td th:text="${message.content}"></td>
        <td>
            <form th:action="@{/deleteMessage/{language}(language=${message.language})}" method="post">
                <button class="btn btn-danger" type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<div class="alert alert-secondary" role="alert">
    <b>Application:</b>
    <span th:text="${applicationName}"></span>
    |
    <b>Version:</b>
    <span th:text="${buildVersion}"></span>
</div>
</body>
</html>
