<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Spring Boot Microservices - Welcome!</title>
</head>
<body class="container">
<h1>Spring Boot Microservices - Demo Application</h1>
<p>
    <b>Your personalized message:</b>
    <span th:text="${customMessage}">Greetings</span>
</p>

<form th:action="@{/}" method="post" th:object="${newMessage}">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Language</th>
            <th>Content</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr class="form-group">
            <td><input class="form-control" type="text" th:field="*{language}" autofocus/></td>
            <td><input class="form-control" type="text" th:field="*{content}"/></td>
            <td><button class="btn btn-primary" type="submit">Add</button></td>
        </tr>
        <tr th:each="message : ${messages}">
            <td th:text="${message.language}"></td>
            <td th:text="${message.content}"></td>
            <td>&nbsp;</td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>
